<div class="wrapper">
  <!-- header -->
  <%= render partial: 'layouts/header', locals: { user: current_user }, remote: true %>
  <!-- sidebar -->
  <%= render partial: 'layouts/side_navbar', locals: { user: current_user },  remote: true %>
  <!-- Main部分 -->
  <div class="content-wrapper">
    <!-- Main content header-->
    <section class="content-header">
      <h1><%= @group.name %></h1>
      <ol class="breadcrumb">
        <li><%= link_to "一覧", communities_path %></li>
        <li><%= @group.name %></li>
      </ol>
      <div class="text-right" style="margin-top:0.5em;">
        <button class="btn btn-xs btn-success" data-toggle="modal" data-target="#modal-default">
          <i class="fa fa-share"></i>チャンネル作成
        </button>
      </div>
    </section>
    <!-- Main content -->
    <section class="content">
      <!-- Your Page Content Here -->
      <div id="search-root" class="row text-center">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h2 class="box-title">チャンネル一覧</h2>
              <div class="box-tools">
                <div class="form-group col-md-6">
                  <select class="form-control select2 select2-hidden-accessible sort-select-box" tabindex="-1" aria-hidden="true">
                    <option selected="selected">全件表示</option>
                    <option>五十音順</option>
                    <option>いいね順</option>
                    <option>投稿日時が早い順</option>
                    <option>投稿日時が遅い順</option>
                  </select>
                </div>
                <div class="input-group input-group-sm col-md-6" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="検索">
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <!-- テーブル部分 -->
            <div class="box-body">
              <%= render partial: "new_channel", locals: { user: current_user }, remote: true%>
              <%= render partial: "channels_list", locals: { channels: @channels }, remote: true%>
            </div>
            <%= paginate @channels %>
          </div> <!-- /.box -->
        </div>
      </section>
      <!-- /.content -->
    </div>

    <!-- /.content-wrapper -->

    <!-- hooter -->
    <%= render 'layouts/footer' %>
  </div>
  <!-- ./wrapper -->
