<div class="wrapper">

  <!-- header -->
  <%= render partial: 'layouts/header', locals: { user: current_user }, remote: true %>
  <!-- sidebar -->
  <%= render partial: 'layouts/side_navbar', locals: { user: current_user }, remote: true %>
  <!-- Main部分 -->
  <div class="content-wrapper">
    <!-- Main content header-->
    <div id="topic-root">
      <section class="content-header">
        <h1><%= @group.name %></h1>
        <ol class="breadcrumb">
          <li><a href="">一覧</a></li>
          <li><%= link_to @group.name, group_channels_path(@group) %></li>
          <li><%= @channel.title %></li>
        </ol>
      </section>
      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="box box-success">
              <!-- topic詳細ページの見出し部分 -->
              <div class="box-header with-border">
                <div class="col-md-10">
                  <h2 class="channel-title"><%= @channel.title  %></h2>
                  <h5 class="contributor"><%= "投稿者: #{@channel.user.name}"  %></h5>
                </div>
              </div>
              <!-- topic詳細ページの見出し部分終了 -->

              <!-- コメント欄 -->
              <div class="box box-foot direct-chat direct-chat-info topic-comment">
                <!-- コメントリスト -->
                <%= render partial: 'layouts/comment_list', locals: { comments: @channel.channel_comments }, remote: true %>
                <!-- コメント投稿欄 -->
                <div class="box-footer">
                  <div class="input-group">
                    <input type="text" name="message" placeholder="コメント入力" class="form-control">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-info btn-flat">Send</button>
                    </span>
                  </div>
                </div> <!-- コメント投稿欄終了 -->
              </div><!--/.direct-chat -->
            </div>
          </div>
        </div>
        <!-- hooter -->
      </section>
      <!-- /.content -->
      <%#= render partial: "make_group_modal", locals: {commenters: @group.group_channels} %>
    </div>
  </div>
  <!-- /.content-wrapper -->
  <%= render 'layouts/footer' %>

</div>
<!-- ./wrapper -->
