<div class="box box-widge text-left box-success">
  <div class="box-header with-border">
    <div class="user-block">
      <!-- ここはユーザの写真  -->
      <%= image_tag(user.user_image, class: "img-circle", alt: "User Image") %>
      <span class="comment"><a data-toggle="modal" data-target="#modal-default" style="cursor:pointer;">トピック投稿</a></span>
      <span class="description text-muted">トピックを作って共有しよう！</span>
    </div>
    <div class="box-tools">
      <!-- <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="いいね！" style="cursor:default;"> -->
      <!-- <i class="fa fa-thumbs-o-up"></i> Like</button> -->
      <button type="button" class="btn btn-box-tool text-green" data-toggle="modal" data-target="#modal-default" title="トピック投稿">
        <i class="fa fa-share"></i>投稿
      </button>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">トピック編集</h4>
        </div>
        <%= form_for(@topic, :url => { :controller => :topics, :action => :create}) do |f| %>
          <div class="modal-body text-left">
            <div class="form-group">
              <%= f.label :title, "タイトル" %>
              <%= f.text_field :title, class: "form-control", type: "text", placeholder: "タイトル" %>
            </div>
            <div class="form-group">
              <%= f.label :content, "コンテンツ" %>
              <%= f.text_area :content, rows: 4, cols: 40, class: "form-control", placeholder: "タイトル" %>
            </div>
            <div class="form-group">
              <div class="attachment-block box collapsed-box" style="padding-bottom:0;">
                <div class="box-header">
                  <label for="exampleInputFile">写真</label>
                  <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                    </button>
                  </div>
                </div>
                <div class="box-body" style="padding-top:0;">
                  <input type="file" id="exampleInputFile">
                  <p class="help-block small">タイトル<input type="email" class="form-control input-sm" id="title" placeholder="タイトル"></p>
                  <p class="help-block small">コメント<textarea type="email" class="form-control input-sm" id="comment" placeholder="コメント"></textarea></p>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">キャンセル</button>
            <%= f.submit "投稿する", class: "btn btn-info" %>
          </div>
        <% end %>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
