<% topics.each do |topic| %>
<div class="box box-widge text-left collapsed-box">
  <div class="box-header with-border">
    <div class="user-block">
      <%= image_tag(topic.user.user_image, class: "img-circle", alt: "User Image") %>
      <span class="comment"><%= link_to topic.title, community_topic_path(@community.id, topic.id) %></span>
      <span class="description"><%= topic.user.name %> - <%= l topic.created_at, format: :exlong%><span class="text-right"></span></span>
    </div>
    <div class="box-tools">
      <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="いいね！" style="cursor:default;">
        <i class="fa fa-thumbs-o-up"></i> <span class="good_count" topic-id="<%= topic.id %>"><%= topic.good_num %></span> Like</button>
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
  <div class="box-body">
    <!-- post text -->
    <p class="text-justify"><%= truncate(topic.content, length:60, omission: '...')%><%#= link_to "...more", community_topic_path(params[:community_id], topic.id) %>
    </p>
    <!-- Attachment -->
    <div class="attachment-block clearfix">
      <%= image_tag("static/start_background.png", class: "attachment-img", alt: "Attachement Image") %>
      <div class="attachment-pushed">
        <h4 class="attachment-heading"><%= link_to "College Share", communities_path%></h4>
        <div class="attachment-text">
          あなたが本当に行きたい大学、行ってよかったと思う大学を選択するためのサービス。あなたの行きたいが、きっと見つかる。
        </div>
        <!-- /.attachment-text -->
      </div>
      <!-- /.attachment-pushed -->
    </div>
    <!-- /.attachment-block -->
    <!-- fotter buttons -->
    <!-- いいねボタン -->
    <%= form_tag({:controller => :topics, :action => :update_good_num_topic}, :remote => true ) do %>
    <%= button_tag :type => "submit", class: "btn btn-default btn-xs" do %>
    <i class="fa fa-thumbs-o-up"></i> いいね
    <% end %>
    <%= link_to "もっと読む", community_topic_path(@community.id, topic.id), class: "btn btn-info btn-xs"%>
    <span class="pull-right text-muted small info_label" topic-id="<%= topic.id %>"><%= topic.good_num %> いいね - <%= topic.topic_comments.count %> コメント</span>
    <%= hidden_field_tag :topic_id, topic.id %>
    <% end %>
  </div>
</div>
<% end %>
