<% (1..20).each do |i| %>
<div class="box box-widge text-left <%= i % 3 == 0 ? 'collapsed-box' : '' %>">
  <div class="box-header with-border">
    <div class="user-block">
      <%= image_tag("user_img/sample_user_img2.jpg", class: "img-circle", alt: "User Image") %>
      <span class="comment"><a href="#">オープンキャンパス行って来ました！<%= i %></a></span>
      <span class="description">投稿者 ほげ - 7:30 PM Today<span class="text-right"></span></span>
    </div>
    <div class="box-tools">
      <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="いいね！" style="cursor:default;">
        <i class="fa fa-thumbs-o-up"></i> <%= i + 10%> Like</button>
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa <%= (i % 3 == 0) ? 'fa-plus' : 'fa-minus' %>"></i>
      </button>
    </div>
  </div>
  <div class="box-body">
    <!-- post text -->
    <p class="text-justify">人口知能のこれから<br>
      さて、これまで様々なことをお伝えしてきましたが、それでは、人工知能はこれからどのように発展してくのでしょうか。
      人工知能とは、自ら思考するコンピュータであるとこれまでお伝えしてきましたが、実はそういった意味でいうと、定義でいうと人工知能そのものはまだ誰も発明できてはいません。
      つまり、本当の意味での人口知能＝人間のように考えるコンピュータは...<a href="#">more</a>
    </p>
    <!-- Attachment -->
    <div class="attachment-block clearfix">
      <%= image_tag("static/start_background.png", class: "attachment-img", alt: "Attachement Image") %>
      <div class="attachment-pushed">
        <h4 class="attachment-heading"><a href="#">College Share</a></h4>
        <div class="attachment-text">
          あなたが本当に行きたい大学、行ってよかったと思う大学を選択するためのサービス。あなたの行きたいが、きっと見つかる。
        </div>
        <!-- /.attachment-text -->
      </div>
      <!-- /.attachment-pushed -->
    </div>
    <!-- /.attachment-block -->
    <!-- fotter buttons -->
    <!-- <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> シェア</button> -->
    <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> いいね</button>
    <button type="button" class="btn btn-info btn-xs">もっと読む</button>
    <span class="pull-right text-muted small"><%= i + 10 %> いいね - <%= i %> コメント</span>
  </div>
</div>
<% end %>
