<% @topics.each do |topic| %>
<div class="box box-widge text-left collapsed-box">
  <div class="box-header with-border">
    <div class="user-block">
      <%= image_tag(user.user_image, class: "img-circle", alt: "User Image") %>
      <span class="comment"><%= link_to topic.title, topic%></span>
      <span class="description"><%= topic.user.name %> - <%= l topic.created_at, format: :exlong%><span class="text-right"></span></span>
    </div>
    <div class="box-tools">
      <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="いいね！" style="cursor:default;">
        <i class="fa fa-thumbs-o-up"></i> <%= topic.good_num %> Like</button>
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
  <div class="box-body">
    <!-- post text -->
    <p class="text-justify"><%= truncate(topic.content, length:30, omission: '')%><%= link_to "...more", topic%>
    </p>
    <!-- Attachment -->
    <div class="attachment-block clearfix">
      <%= image_tag("static/start_background.png", class: "attachment-img", alt: "Attachement Image") %>
      <div class="attachment-pushed">
        <h4 class="attachment-heading"><%= link_to "College Share", search_index_path%></h4>
        <div class="attachment-text">
          あなたが本当に行きたい大学、行ってよかったと思う大学を選択するためのサービス。あなたの行きたいが、きっと見つかる。
        </div>
        <!-- /.attachment-text -->
      </div>
      <!-- /.attachment-pushed -->
    </div>
    <!-- /.attachment-block -->
    <!-- fotter buttons -->
    <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> いいね</button>
    <%= link_to "もっと読む", topic, class: "btn btn-info btn-xs"%>
    <span class="pull-right text-muted small"><%= topic.good_num %> いいね - ? コメント</span>
  </div>
</div>
<% end %>
