<div class="wrapper">
  <!-- header -->
  <%= render partial: 'layouts/header', locals: { user: current_user }, remote: true %>

  <!-- sidebar -->
  <%= render partial: 'layouts/side_navbar', locals: { user: current_user },  remote: true %>

  <!-- Main部分 -->
  <div class="content-wrapper">
    <!-- Main content header-->
    <section class="content-header">
      <h1><%= @community.college_name %></h1>
      <ol class="breadcrumb">
        <li><%= link_to "一覧", communities_path %></li>
        <li><%= @community.college_name %></li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <!-- Your Page Content Here -->
      <div id="search-root" class="row text-center">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h2 class="box-title">トピック一覧</h2>
              <div class="box-tools">
                <%= form_tag({controller: "topics", action: "index"}, method: "get") do %>
                <div class="form-group col-md-6">
                  <!-- <select class="form-control select2 select2-hidden-accessible sort-select-box" tabindex="-1" aria-hidden="true">
                    <option selected="selected">全件表示</option>
                    <option>五十音順</option>
                    <option>いいね順</option>
                    <option>投稿日時が早い順</option>
                    <option>投稿日時が遅い順</option>
                  </select> -->

                  <%= select_tag :sort, options_for_select([["全件表示",0],["五十音順",1],["いいね順",2],["投稿日時が早い順",3],["投稿日時が遅い順",4]], selected: @sort), {class: "form-control select2 select2-hidden-accessible sort-select-box", tabindex: -1, "aria-hidden": true } %>
                </div>
                <div class="input-group input-group-sm col-md-6" style="width: 150px;">
                  <%= text_field_tag :search_name, @search_name, {class: "form-control pull-right", placeholder: "検索" }%>
                  <!-- <input type="text" name="table_search" class="form-control pull-right" placeholder="Search..."> -->
                  <div class="input-group-btn">
                    <%= button_tag :type => "submit", class: "btn btn-default" do %>
                    <i class='fa fa-search'></i>
                    <% end %>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
            <!-- box-header終わり -->
            <!-- テーブル部分 -->
            <div class="box-body">
              <%= render partial: "new_topic", locals: { user: current_user }%>
              <%= render partial: "topics_list", locals: { topics: @topics, user: current_user }, remote: true%>
            </div>
            <%= paginate @topics %>
          </div>
        </div>
      </section>
      <!-- /.content -->
    </div>

    <!-- /.content-wrapper -->

    <!-- hooter -->
    <%= render 'layouts/footer' %>
  </div>
  <!-- ./wrapper -->
