<div class="wrapper">

  <!-- header -->
  <%= render partial: 'layouts/header', locals: { user: current_user }, remote: true %>
  <!-- sidebar -->
  <%= render partial: 'layouts/side_navbar', locals: { user: current_user }, remote: true %>
  <!-- Main部分 -->
  <div class="content-wrapper">
    <!-- Main content header-->
    <div id="topic-root">
      <section class="content-header">
        <h1><%= @topic.community.college_name %></h1>
        <ol class="breadcrumb">
          <li><%= link_to "一覧", communities_path %></li>
          <li><%= link_to @topic.community.college_name, community_topics_path(@topic.community.id) %></li>
          <li><%= @topic.title %></li>
        </ol>
        <div class="text-right" style="margin-top:0.5em;">
          <button class="btn btn-xs btn-success" data-toggle="modal" data-target="#modal-default">
            <i class="fa fa-users"></i>Make Group
          </button>
        </div>
      </section>
      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="box box-success">
              <!-- topic詳細ページの見出し部分 -->
              <div class="box-header with-border">
                <div class="col-md-10">
                  <h2 class="topic-title"><%= @topic.title %></h2>
                  <h5 class="contributor">投稿者: <%= @topic.user.name %></h5>
                </div>
                <div class="col-md-2 thumbs-up-wrapper">
                  <div class="col-md-6"></div>
                  <div class="col-md-3">
                    <i class="fa fa-thumbs-o-up"></i>
                  </div>
                  <div class="col-md-3">
                    <span class="info-box-number"><%= @topic.good_num %></span>
                  </div>
                </div>
              </div>
              <!-- topic詳細ページの見出し部分終了 -->
              <!-- topic詳細ページのテキスト部分 -->
              <div class="box-body">
                <p class="topic-text text-justify">
                  <%= @topic.content %>
                </p>
                <!-- Social sharing buttons -->
                <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
                <span class="pull-right text-muted small"> <%= @topic.good_num %> いいね - <%= @topic.comments.count %> コメント</span>
              </div>
              <!-- topic詳細ページのテキスト部分終了 -->

              <!-- コメント欄 -->
              <div class="box box-foot direct-chat direct-chat-info topic-comment">
                <!-- コメントリスト -->
                <%= render partial: 'comment_list', locals: {comments: @topic.comments}, remote: true %>
                <!-- コメント投稿欄 -->
                <div class="box-footer">
                  <div class="input-group">
                    <input type="text" name="message" placeholder="コメント入力" class="form-control">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-info btn-flat">Send</button>
                    </span>
                  </div>
                </div> <!-- コメント投稿欄終了 -->
              </div><!--/.direct-chat -->
            </div>
          </div>
        </div>
        <!-- hooter -->
      </section>
      <!-- /.content -->
      <%= render partial: "make_group_modal", locals: {commenters: @topic.commenters} %>
    </div>
  </div>
  <!-- /.content-wrapper -->
  <%= render 'layouts/footer' %>

</div>
<!-- ./wrapper -->
