<div class="wrapper">

  <!-- header -->
  <%= render partial: 'layouts/header', locals: { user: current_user }, remote: true %>
  <!-- sidebar -->
  <%= render partial: 'layouts/side_navbar', locals: { user: current_user }, remote: true %>
  <!-- Main部分 -->
  <div class="content-wrapper">
    <!-- Main content header-->
    <div id="topic-root">
      <section class="content-header">
        <h1><%= @topic.community.college_name %></h1>
        <ol class="breadcrumb">
          <li><%= link_to "一覧", communities_path %></li>
          <li><%= link_to @topic.community.college_name, community_topics_path(@topic.community.id) %></li>
          <li><%= @topic.title %></li>
        </ol>
        <div class="text-right" style="margin-top:0.5em;">
          <button class="btn btn-xs btn-success" data-toggle="modal" data-target="#modal-default">
            <i class="fa fa-users"></i>Make Group
          </button>
        </div>
      </section>
      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="box box-success">
              <!-- topic詳細ページの見出し部分 -->
              <div class="box-header with-border">
                <div class="col-md-10">
                  <h2 class="topic-title"><%= @topic.title %></h2>
                  <h5 class="contributor">投稿者: <%= @topic.user.name %></h5>
                </div>
                <div class="col-md-2 thumbs-up-wrapper">
                  <div class="col-md-6"></div>
                  <div class="col-md-3">
                    <i class="fa fa-thumbs-o-up"></i>
                  </div>
                  <div class="col-md-3">
                    <span class="info-box-number"><%= @topic.good_num %></span>
                  </div>
                </div>
              </div>
              <!-- topic詳細ページの見出し部分終了 -->
              <!-- topic詳細ページのテキスト部分 -->
              <div class="box-body">
                <p class="topic-text text-justify">
                  <%= @topic.content %>
                </p>
                <!-- Social sharing buttons -->
                <%= form_tag({:controller => :topics, :action => :update_good_num}, :remote => true ) do %>
                  <%= button_tag :type => "submit", class: "btn btn-default btn-xs" do %>
                  <i class="fa fa-thumbs-o-up"></i> いいね
                  <% end %>
                  <span class="pull-right text-muted small" id="info_label"> <%= @topic.good_num %> いいね - <%= @topic.topic_comments.count %> コメント</span>
                <% end %>
              </div>
              <!-- topic詳細ページのテキスト部分終了 -->

              <!-- コメント欄 -->
              <div class="box box-foot direct-chat direct-chat-info topic-comment">
                <!-- Conflict Merge  -->
                <!-- コメントリスト -->
                <div class="direct-chat-messages" id="comment_list">
                  <%= render partial: 'layouts/comment_list', locals: {comments: @topic.topic_comments}, remote: true %>
                </div>
                <!-- Conflict Merge  -->

                <!-- コメント投稿欄 -->
                <div class="box-footer">
                  <%= form_for(@comment, :url => { :controller => :topics, :action => :create_comment}, data: { remote: true }) do |f| %>
                  <div class="input-group">
                    <%= f.text_field :content, class: "form-control", type: "text", placeholder: "コメント入力" %>
                    <span class="input-group-btn">
                      <%= f.submit "Send", class: "btn btn-info btn-flat" %>
                    </span>
                  </div>
                  <% end %>
                </div> <!-- コメント投稿欄終了 -->
              </div><!--/.direct-chat -->
            </div>
          </div>
        </div>
        <!-- hooter -->
      </section>
      <!-- /.content -->
      <%= render partial: "make_group_modal", locals: {commenters: @topic.commenters} %>
    </div>
  </div>
  <!-- /.content-wrapper -->
  <%= render 'layouts/footer' %>

</div>
<!-- ./wrapper -->
