<div class="wrapper">

  <!-- header -->
  <%= render partial: 'layouts/header', locals: { user: current_user }, remote: true %>

  <!-- sidebar -->
  <%= render partial: 'layouts/side_navbar', locals: { user: current_user }, remote: true %>

  <!-- Main部分 -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <!-- Your Page Content Here -->
      <div id="search-root" class="row text-center">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header">
              <h2 class="box-title">Communities</h2>
              <div class="box-tools">
                <div class="form-group col-md-6">
                  <select class="form-control select2 select2-hidden-accessible sort-select-box" tabindex="-1" aria-hidden="true">
                    <option selected="selected">ソートする</option>
                    <option>五十音順</option>
                    <option>トピック数順</option>
                    <option>県名順</option>
                    <option>お気に入り数順</option>
                  </select>
                </div>
                <div class="input-group input-group-sm col-md-6" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search...">
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- box-header終わり -->
            <!-- テーブル部分 -->
            <div class="box-body table-responsive no-padding">
              <%= render partial: 'search_table', locals: { communities: @communities } %>
            </div>
            <div class="box-body">
              <div>
                <%= paginate @communities %>
              </div>
              <div>
                <%= numofcases(@communities) %>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- hooter -->
    <%= render 'layouts/footer' %>
  </div>
  <!-- ./wrapper -->

.numofcases {
  display: inline-block;
}
