<!-- メインのサイドバー -->
<aside class="main-sidebar">

  <section class="sidebar">

    <!-- サイドバーのアカウント部分 -->
    <div class="user-panel">
      <div class="pull-left image">
        <%= image_tag(user.user_image, class:"img-circle", alt: "User Image") %>
      </div>
      <div class="pull-left info">
        <p><%= user.name %></p>
        <!-- Status -->
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">メニュー</li>

      <!-- さがすメニュー -->
      <li class="active">
        <%= link_to("#") do %>
          <%= image_tag("icon/search_white.png", class:"fa fa-link side-bar-icon") %>
          <span>さがす</span>
        <% end %>
      </li>

      <!-- コミュニティメニュー -->
      <li>
        <%= link_to("#") do %>
          <%= image_tag("icon/fav_icon.png", class:"fa fa-link side-bar-icon") %>
          <span>コミュニティ</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        <% end %>
        <ul class="treeview-menu">
          <% user.communities.each do |com| %>
            <li><%= link_to(com.college_name, community_topics_path(com.id), method: :GET)%></li>
          <% end %>
        </ul>
      </li>

      <!-- グループメニュー -->
      <li class="treeview">
        <%= link_to("#") do %>
          <%= image_tag("icon/group_icon.png", class:"fa fa-link side-bar-icon") %>
          <span>グループ</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        <% end %>
        <ul class="treeview-menu">
          <% user.groups.each  do |g| %>
            <li><%= link_to(g.name, "#") %></li>
          <% end %>
        </ul>
      </li>

      <!-- アカウントメニュー -->
      <li>
        <%= link_to(edit_user_registration_path, method: :GET) do %>
          <%= image_tag("icon/account_icon.png", class:"fa fa-link side-bar-icon") %>
          <span>アカウント</span>
        <% end %>
      </li>

      <!-- ログアウトメニュー -->
      <li>
        <%= link_to(destroy_user_session_path, method: :DELETE) do %>
          <%= image_tag("icon/logout_icon.png", class:"fa fa-link side-bar-icon") %>
          <span>ログアウト</span>
        <% end %>
      </li>

    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
